@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.menu_hamburguesa {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5.5%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.menu_hamburguesa span {
  display: block;
  background-color: rgb(69, 38, 117);
  width: 100%;
  height: 2px;
  margin-top: 9px;
  transition: all 1s;
  transform-origin: 0px 100%;
}

.linea1_menu-activa {
  transform: rotate(45deg) translate(-3.5px, -2px);
}

.linea2_menu-activa {
  opacity: 0;
  margin-left: -40px;
}

.linea3_menu-activa {
  transform: rotate(-45deg) translate(-2px, 2px);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
  background-color: rgb(158, 77, 211);
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu titulo";
}
body header .menu_hamburguesa {
  grid-area: menu;
}
body header .titulo {
  grid-area: titulo;
}
body header .titulo h1 {
  text-align: center;
  font-size: 2.5rem;
}
body header .titulo p {
  text-align: center;
  font-weight: bold;
}
body main {
  grid-area: main;
  background-image: url(../img/fondo_pagina_compu);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
body footer {
  grid-area: footer;
  background-color: rgb(114, 49, 157);
}

.centrar, .trabajador .formulario_registrarse .form .boton, .trabajador .fallo_registro p, .trabajador .fallo_registro h2, .trabajador .fallo_registro img, .trabajador .formulario_iniciar-activo .form .boton, .index .tarjeta_prod button, .index .tarjeta_prod .fondo_NombrePrecio .precio, .index .tarjeta_prod .fondo_NombrePrecio h2, .index .tarjeta_prod img, body header .titulo {
  justify-self: center;
  align-self: center;
}

.index {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.index .tarjeta_prod {
  background-color: rgb(144, 77, 189);
  border: 2px solid rgb(225, 221, 221);
  border-radius: 5px;
  margin: 10px 15px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 2fr 1fr;
  grid-template-areas: "img" "NombrePrecio" "boton";
  text-align: center;
}
.index .tarjeta_prod img {
  grid-area: img;
  width: 135px;
  height: 135px;
  border: 1px solid rgb(60, 58, 58);
  border-radius: 5px;
  margin-top: 5px;
}
.index .tarjeta_prod .fondo_NombrePrecio {
  display: grid;
  grid-template-rows: 1fr 30px;
  margin-top: 10px;
  background-color: rgba(54, 53, 53, 0.359);
  margin-bottom: 10px;
  margin-inline: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.index .tarjeta_prod .fondo_NombrePrecio h2 {
  font-size: 1.2rem;
  margin-top: 2px;
}
.index .tarjeta_prod .fondo_NombrePrecio .precio {
  font-size: 1rem;
}
.index .tarjeta_prod button {
  border-radius: 10px;
  margin-inline: 20px;
  width: 127px;
  height: 45px;
  background-color: rgb(203, 131, 143);
}
.index .tarjeta_prod button strong {
  font-size: 1.05rem;
}
.index .tarjeta_prod button:active {
  background-color: rgb(215, 69, 93);
}

.fondo_form, .trabajador .formulario_registrarse, .trabajador .fallo_registro, .trabajador .formulario_iniciar-activo .form {
  background-color: rgba(78, 75, 75, 0.549);
  padding-block: 20px;
  border-block: 2px black solid;
}

.cont_form, .trabajador .formulario_registrarse .form label input, .trabajador .formulario_iniciar-activo .form #campo_contrasenia, .trabajador .formulario_iniciar-activo .form #campo_email {
  margin-top: 10px;
  width: 250px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(153, 99, 203, 0.594);
}
.cont_form::placeholder, .trabajador .formulario_registrarse .form label input::placeholder, .trabajador .formulario_iniciar-activo .form #campo_contrasenia::placeholder, .trabajador .formulario_iniciar-activo .form #campo_email::placeholder {
  color: black;
  font-size: 0.9rem;
}

.text_form, .trabajador .formulario_registrarse .form p, .trabajador .formulario_iniciar-activo .form .texto_contrasenia, .trabajador .formulario_iniciar-activo .form .texto_email {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.437);
  align-self: center;
  padding-block: 5px;
}

.boton_form, .trabajador .formulario_registrarse .form .boton, .trabajador .formulario_iniciar-activo .form .boton_registrarse, .trabajador .formulario_iniciar-activo .form .boton {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(185, 72, 185);
  font-size: 1rem;
  font-weight: bold;
}
.boton_form:active, .trabajador .formulario_registrarse .form .boton:active, .trabajador .formulario_iniciar-activo .form .boton_registrarse:active, .trabajador .formulario_iniciar-activo .form .boton:active {
  background-color: rgb(119, 29, 119);
}

.trabajador {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "." "form" ".";
  height: 100vh;
}
.trabajador .formulario_iniciar-activo {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}
.trabajador .formulario_iniciar-activo h2 {
  text-align: center;
  font-size: 2rem;
  align-self: center;
}
.trabajador .formulario_iniciar-activo .form {
  text-align: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 50px) 20px;
  grid-template-areas: "texto_email" "email" "texto_contraseña" "contraseña" "boton";
}
.trabajador .formulario_iniciar-activo .form .texto_email {
  grid-area: texto_email;
}
.trabajador .formulario_iniciar-activo .form #campo_email {
  grid-area: email;
}
.trabajador .formulario_iniciar-activo .form .texto_contrasenia {
  grid-area: texto_contraseña;
}
.trabajador .formulario_iniciar-activo .form #campo_contrasenia {
  grid-area: contraseña;
}
.trabajador .formulario_iniciar-activo .form .boton {
  grid-area: boton;
}
.trabajador .formulario_iniciar-activo .form .boton_registrarse {
  justify-self: center;
  font-size: 0.8rem;
  width: 100px;
  height: 35px;
}
.trabajador .formulario_iniciar {
  z-index: -1;
}
.trabajador .fallo_registro {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas: "img" "titulo" "texto";
}
.trabajador .fallo_registro img {
  grid-area: img;
  width: 100px;
  height: 100%;
}
.trabajador .fallo_registro h2 {
  grid-area: titulo;
  font-size: 2rem;
}
.trabajador .fallo_registro p {
  grid-area: texto;
  font-size: 1.2rem;
  text-align: center;
}
.trabajador .fallo_registro-oculto {
  z-index: -1;
}
.trabajador .formulario_registrarse {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}
.trabajador .formulario_registrarse h2 {
  text-align: center;
  font-size: 2rem;
  align-self: center;
}
.trabajador .formulario_registrarse .form {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 50px);
}
.trabajador .formulario_registrarse .form p {
  align-self: center;
}
.trabajador .formulario_registrarse-oculto {
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
